<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>半券の写真を投げてタイトルを識別</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

		<link href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.css' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./ocr_relay_svr.css">
	</head>
	<body style="background-color:#FFEEEE">
		<h3>JPGの範囲を指定してボタンを押すと見た映画を識別します。</h3>
		<h4>画像収集の関係上、たまに取得できません。</h4>
		<div class="container-fluid">
			<form enctype="multipart/form-data" method="post" id="img_form">
				<div id="result_area">
					<h2>{{text}}</h2>
				</div>
				<label>
					<span class="btn btn-primary">
						ファイル選択
						<input type="file" name="upload_img" accept="image/*" id="load_img" v-on:change="selected" style="display:none">
					</span>
				</label>
			</form>
			<div id="img_preview" style="width: 70%; height: 70%;margin-bottom: 10%">
			</div>
			<div id="title_img_view">
			</div>
		</div>


		<script type="text/javascript" src="./title_ocr.js"></script>
	</body>
</html>
